---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "rouge";
@import "coderay";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

table {
    border-collapse : collapse;
    margin-left     : auto;
    margin-right    : auto;
    width           : auto;
}

table thead {
    background-color: #f8f8f8;
}

table, th, td {
    border: 1px solid #DDD;
}

table th, table td {
    padding: 6px 13px;
}